<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/public/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="http://gmpg.org/xfn/11" rel="profile">

    <title>
      {% if page.title %}{{ page.title }} &middot; {% endif %}
      {{ site.title }}
    </title>

    <meta content="{{ site.title }}" property="og:site_name">
    {% if page.title %}
      <meta content="{{ page.title | escape }}" property="og:title">
    {% else %}
      <meta content="{{ site.title }}" property="og:title">
    {% endif %}
    {% if page.title %}
      <meta content="article" property="og:type">
      <meta property="article:author" content="https://www.facebook.com/josef.rousek" />
    {% else %}
      <meta content="website" property="og:type">
    {% endif %}
    {% if page.excerpt %}
      <meta name="description" content="{{ page.excerpt | strip_html }}">
      <meta content="{{ page.excerpt | strip_html }}" property="og:description">
    {% else %}
      <meta name="description" content="{{ site.description }}">
      <meta content="{{ site.description }}" property="og:description">
    {% endif %}
    {% if page.url %}
      <meta content="{{ site.url }}{{ page.url }}" property="og:url">
    {% endif %}
    {% if page.date %}
      <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
    {% endif %}
    {% if page.image %}
      <meta content="{{ page.image }}" property="og:image">
    {% endif %}

    <!-- CSS -->
    <link rel="stylesheet" href="/public/css/hyde.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,600,700|Abril+Fatface&subset=latin,latin-ext">

    <!-- Icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/apple-touch-icon-144-precomposed.png">
    <link rel="shortcut icon" href="/public/favicon.png">

    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

    <script async defer data-domain="blog.rousek.name" src="https://plausible.io/js/plausible.js"></script>
  </head>
  <body>

    <header class="masthead">
      <div class="masthead-inner">
        <h1><a href="/">{{ site.title }}</a></h1>
        <p class="lead">{{ site.subtitle }}</p>

        <div class="colophon">
          <ul class="colophon-links">
            <li><a href="https://rousek.name/">about</a></li>
            <li><a href="https://github.com/stlk">github</a></li>
            <li><a href="https://twitter.com/josefrousek">twitter</a></li>
          </ul>
        </div>

      </div>
    </header>

    <div class="content container">
      {{ content }}
    </div>
  </body>
</html>
